nav.navbar {
  height: 100px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
}

.rwd-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  max-width: 1080px;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
  height: 100%;
  max-height: 607px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  
}

iframe {
  max-width: 100%;
}

.bordered-top {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid $primary;
}

.bordered-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 2px solid $primary;
}
#about:before {
  content: "";
  display: block;
  padding-top: 200px; /* header height + empty space */
  margin-top: -100px; /* header height + empty space */
}

#purchase:before {
  content: "";
  display: block;
  padding-top: 150px; /* header height + empty space */
  margin-top: -100px; /* header height + empty space */
}

.w-150 {
  width: 150px;
}

.price-icon img {
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  nav.navbar {
    height: 60px;
  }
  .navbar-brand img {
    width: 90px;
  }
  .clip-hero {
    margin-top: 29px;
    padding-top: 50px;
  }
  .clip-hero h1 {
    width: 85%;
    font-size: 25px;
  }

  .clip-hero p {
    font-size: 18px;
    width: 70%;
  }

  h3 {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
  .price-icon img {
    max-width: 180px;
  }
  .bordered-bottom.hide {
    display: none;
  }
  .text-left-xs {
    text-align: left !important;
    padding-left: 0;
  }
  #about:before {
    content: "";
    display: block;
    padding-top: 0;
    margin-top: 0;
  }
  
  #purchase:before {
    content: "";
    display: block;
    padding-top: 0;
    margin-top: 0;
  }

  .video iframe {
    max-width: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .bordered-bottom.hide {
    display: none;
  }
}